.btn {
  border: 2px solid #F76C5E;
  background-color: #F76C5E;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 20px;
  min-width: 100px;
  -webkit-appearance: none;
}

.btn:hover {
  border: 2px solid #F76C5E !important;
  background-color: white;
  color: #F76C5E;
  text-decoration: none;
}